<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>active</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>

<body>

    <div id="app">

        <header>
            <div id = "logo">
                <img src = '../images/logo.svg' alt = 'Логотип', id = 'logo_img'>
                <p id = "logo_label">ToDoList by Katkov</p>
            </div>
            <nav>
                <a id = "add_task">Добавить задачу</a>
            </nav>
        </header>

        <section>
            <div id="content">
                <h1>Добавление задачи</h1>
                <input type="text" id="ent_task" placeholder="Введите задачу">
                <input type="button" id="btn_accept" value="Окей">
                <input type = 'button' id = "btn_back" value = 'Назад'>
            </div>
            
        </section>
    </div>

</body>

</html>